header {
    display: flex;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    background-color: red;
    width: 50vw;
    height: 50vh;
}