header {
    display: flex;
    justify-content: flex-end;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 50vh;
}

.question-font {
    color: white;
    font-size: 40px;
}

.question-answer-true {
    color: white;
    font-size: 50px;
}

.question-answer-false {
    color: white;
    font-size: 50px;
}
